html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #19a2ae;
  overflow: hidden;
  background-image: url("https://alnoor23.github.io/FrontEndMentor-Profile-Card-Component/images/bg-pattern-bottom.svg"), url("https://alnoor23.github.io/FrontEndMentor-Profile-Card-Component/images/bg-pattern-top.svg");
  background-position: bottom -550px right -60px, top -480px left -60px;
  background-repeat: no-repeat, no-repeat;
}

@media (max-width: 63.9375em) {
  body {
    background-position: bottom -600px right -700px, top -500px left -820px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 25rem;
  height: 28.125rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px 6px rgba(78, 78, 78, 0.171);
          box-shadow: 0px 10px 15px 6px rgba(78, 78, 78, 0.171);
  background-color: white;
  border-radius: 20px;
}

@media (max-width: 63.9375em) {
  .card {
    width: 21.25rem;
    height: auto;
  }
}

.card .header {
  height: 160px;
  width: inherit;
  background-image: url("https://alnoor23.github.io/FrontEndMentor-Profile-Card-Component/images/bg-pattern-card.svg");
  border-radius: 20px 15px 0 0;
}

.card .dp {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 120px;
  width: 120px;
  top: -55px;
  background-image: url("https://alnoor23.github.io/FrontEndMentor-Profile-Card-Component/images/image-victor.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid white;
}

@media (max-width: 63.9375em) {
  .card .dp {
    height: 100px;
    width: 100px;
    top: -50px;
  }
}

.card .main {
  margin: -20px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .main .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.card .main .name p {
  line-height: 1.2;
  font-size: 1.5rem;
  color: #6a6f81;
  margin-left: 5px;
  font-weight: 400;
}

.card .main p {
  font-size: 1.1rem;
  color: #6a6f81;
  margin-left: 10px;
  font-weight: 400;
}

.card .stats {
  border-top: 2px solid #969696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card .stats .data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 25px;
}

.card .stats .data p {
  margin-top: 6px;
  font-weight: 400;
  font-size: 0.875rem;
  color: #6a6f81;
}
/*# sourceMappingURL=styles.css.map */
